<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link href="https://fonts.googleapis.com/css?family=Lobster|Pacifico&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap" rel="stylesheet"> 
    {% block stylesheets %}
    {{
      encore_entry_link_tags("app")
    }}
    {% endblock %}
    
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
            aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/recipe">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Features</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Pricing</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                </li>
            </ul>
        </div>
        <button onclick="window.location.href='/login'" class="btn btn-primary mr-5">sign in</button>
        <button onclick="window.location.href='/user/new'" class="btn btn-primary mr-5">sign up</button>
        {% if app.user %}
            <div class="badge badge-light">

               Salut {{ app.user.name }}
                
            </div>
        {% endif %}
        
    </nav>
    
</body>
    {% block body %}
    {% endblock %}
    <script src="https://kit.fontawesome.com/536fe6e8c5.js" crossorigin="anonymous"></script>
    {% block javascripts %}
    {{ encore_entry_script_tags("app") }}
    {% endblock %}
</body>

</html>